@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER
/*
0 - 600px:          Phone
600 - 900px:        Tablet portrait
900 - 1200px:       Tablet landscape
1200 - 1800px:      default
1800px +:           Big desktop

In media queries, em and rem is not related to html font size or parent 
font size, it's related to the browser default font size

1em = 16px

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop
<<<<<<< Updated upstream

Mobile responsive design order:
Base + Typography > general layout + grid > page layout > components
*/
@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 37.5em) { @content }; // 600px
    }
    @if $breakpoint == tab-port {
        @media (max-width: 56.25em) { @content };  // 900px
    }
    @if $breakpoint == tab-land {
        @media (max-width: 75em) { @content }; // 1200px
    }
    @if $breakpoint == big-desktop {
        @media (min-width: 112.5em) { @content }; // 1800px
=======
*/

// the font size in media queries definition is not related to html font-size, it's related to browser default font
@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 600px) { @content; }
    }
    @if $breakpoint == tab-port {
        @media (max-width: 900px) { @content; }
    }
    @if $breakpoint == tab-land {
        @media (max-width: 1200px) { @content; }
    }
    @if $breakpoint == big-desktop {
        @media (min-width: 1800px) { @content; }
>>>>>>> Stashed changes
    }
}