.header {
    position: relative;
    height: 95vh; /*95% of the view port height*/
    background-image: linear-gradient(
        to right bottom, 
        rgba($color-primary-light, 0.8), 
        rgba($color-primary-dark, 0.8)), 
        url(../img/hero.jpg);
    background-size: cover; /*always try to fit the background*/
    background-position: top;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); 
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); /*polygon(x y, x y, x y, x y) left-top, right-top, right-bottom, left-bottom*/

    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem; /*the reference is the parent element set to relative*/
    }

    &__logo {
        height: 3.5rem;
    }

    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%; /*top and left are related to the parent element*/
        transform: translate(-50%, -50%); /*related to the element itself*/
        text-align: center;
    }
}